@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1';
    box-sizing: border-box;
}
body{
    background-image: url('./layered-waves-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    aspect-ratio: 900/300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 150px;
    height:60vh;
    width:50vw;
    border: 2px solid #767676;
    border-radius:20px;
}
.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom:10px;
}
.input-drop{
    display: flex;
    margin: 5px;
}
input{
    width:150px;
}
.pad-10{
    padding:10px;
}
.result{
    margin-left: 96px;
    padding-bottom: 25px;
    width: 30vmin;
    height: 3vh;
    border: 1.5px solid #1c1c1c;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top:10px;
}
@media screen and (max-width:600px){
    body{
        background-color: #ffe15d;
    }
    .container{
        height:400px;
        width: 300px;
    }
    .title{
        font-size: 1.2em;
    }
    select{
        margin-top:23px;
        border: 1.5px solid #767676;
        padding: 1px;
        border-radius: 4px;
    }
    .result{
        margin-left:95px;
    }
}